<div id="main-game">
    <div id="player-info">
        <span id="player-name-display"></span>
        <div id="player-pokemon">
            <img id="player-pokemon-sprite" src="" alt="Player Pokémon">
            <span id="player-pokemon-name"></span>
            <span id="player-pokemon-level"></span>
        </div>
    </div>
    <div id="game-world">
        <!-- Game content will be dynamically loaded here -->
    </div>
    <div id="dialog-box" class="hidden">
        <p id="dialog-text"></p>
        <input type="text" id="spell-input" class="hidden">
        <button id="spell-submit" class="hidden">Bevestig</button>
    </div>
</div>
